asgiref
autopep8
boto3
botocore
Django
django-cors-headers
django-storages
djangorestframework
djangorestframework-simplejwt
gunicorn
jmespath
Pillow
psycopg2
pycodestyle
PyJWT
python-dateutil
pytz
s3transfer
six
sqlparse
toml
urllib3
whitenoise