{% extends 'main.html' %} {% block content %}

<!-- Main Section -->
<main class="project-form">
  <div class="project-form-card">
    <div class="project-form-wrapper">
      <a class="btn goback" href="{% url 'account' %}">Go back</a>
      <br />
      <form class="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %} {% for field in form %}
        <!-- Input:Text -->
        <div class="form-field">
          <label for="formInput#text">{{field.label}}</label>
          {{field}}
        </div>
        {% endfor %}

        <input class="btn--lg" type="submit" value="Submit" />
      </form>
    </div>
  </div>
</main>

{% endblock %}