.home {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  grid-template-areas: "left right";
  grid-gap: 2rem;
  padding: 5rem;
  height: 100vh;
}
.left-header {
  grid-area: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  margin: 1rem;
  /* border: 0.25rem solid #a8ffef;
  padding: 2rem; */
}
.right-header {
  grid-area: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-text {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
  color: #00ffaa;
  background-image: -webkit-linear-gradient(92deg, #bfff40, #e5aeff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.right-info {
  font-size: 2rem;
  color: #fff385;
  text-align: center;
  padding: 4rem;
}
